body {
 background-color:rgb(192,192,192);
 font-family: Verdana;
 }
h1 { 
  font-style: oblique ;
  }
b1 {
  font-size:22px;
  }
b2{
  font-family: serif;
  font-size:40px;
   }
b3{
 font-family: serif;
 font-style: italic;
 font-size:21px;
  }


	

 

 